<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.logischtech.mytalentapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/favicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:noHistory="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash_screen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
            <activity android:name=".Know" />
        <activity android:name=".Examscreen" />
        <activity android:name=".Login" />
        -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Choose_language" />
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".Otpscreen" />
        <activity android:name=".Emailvalidation" />
        <activity android:name=".Questionary" />
        <activity android:name=".Profile" />
        <activity android:name=".Exam1" />
        <activity android:name=".linkscreen" />
        <activity
            android:name=".Addvoucher"
            android:noHistory="true" />
        <activity android:name=".Examscreen" />

        <receiver
            android:name=".Splash_screen"
            android:enabled="true"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity android:name=".ExamOtp" />
        <activity android:name=".Reportlink"></activity>
    </application>

</manifest>